@import 'base';

.varying-container {
  @include make-container();

  /* Fluid */
  @include media-breakpoint-only(md) {
    .navbar & {
      margin-left: 24px;
      margin-right: 24px;
    }
  }
  @include media-breakpoint-down(sm) {
    .navbar & {
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  @include media-breakpoint-up(lg) {
    @include make-container-max-widths();
  }
  @media (min-width: 1600px) {
    width: 72%;
  }
  @media (max-width: 1200px) and (min-width: 881px ) {
    width: 92%;
  }
  @media (max-width: 880px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.main-container {
  background: #fff;
  min-height: 100%;

  @extend .varying-container;

  padding-top: 20px;
  padding-bottom: 15px;
}
