.rounded-2 {
  border-radius: 6px !important;
}

.mb-1 {
    margin-bottom: 4px !important;
}

.mb-2 {
    margin-bottom: 8px !important;
}

.mb-3 {
    margin-bottom: 12px !important;
}

.mb-4 {
    margin-bottom: 16px !important;
}

.mt-2 {
  margin-top: 8px !important;
}

.mt-3 {
  margin-top: 12px !important;
}

.mt-4 {
  margin-top: 16px !important;
}

.mt-5 {
  margin-top: 20px !important;
}

.f3 {
    font-size: 19px !important;
}

.f4 {
    font-size: 16px !important;
}

.f5 {
    font-size: 13px !important;
}

.hide-xs {
  @extend .d-none;
  @extend .d-sm-inline;
}

.hide-sm {
  @extend .d-none;
  @extend .d-md-inline;
}

.d-column {
  display: flex !important;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}