.pos-s { position: static; }
.pos-r { position: relative; }
.pos-a { position: absolute; }
.pos-f { position: fixed; }

.starter-template {
  padding: 30px 15px;
  text-align: center;
}

.sm-no-padding {
  @include media-breakpoint-down(sm) {
    padding-left: 0;
    padding-right: 0;
  }
}

.well {
  background-color: #eee;
  border-color: #eee;
}

.center {
  text-align: center;
}
