.pos-s { position: static; }
.pos-r { position: relative; }
.pos-a { position: absolute; }
.pos-f { position: fixed; }

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.well {
  background-color: #eee;
  border-color: #eee;
}