/* Make sure there's spacing betweens items of a list, due to flexbox */
.list-group-item > * {
  padding-left: 5px;
}

.list-group-item > *:first-child {
  padding-left: 0px;
}

.list-group-item .list-group-item-action {
  width: initial;
}