.list-group-item {
  display: flex;
}

/* Make sure there's spacing betweens items of a list, due to flexbox */
.list-group-item > * {
  padding-left: 5px;
}

.list-group-item > *:first-child {
  padding-left: 0px;
}

.list-group-item .list-group-item-action {
  width: initial;
}

.list-group.menu {
  font-size: 15px;

  .list-group-item {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .list-group-item.menu-heading {
    font-size: 14px;
    font-weight: bold;
    color: #586069;
  }
}
