
  <h3>Account</h3>
  <hr>

  <!-- LOGIN FORM -->
  <form method="post" accept-charset="UTF-8" role="form">
    <div class="form-group">
      <label for="password">Current password</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" value="<%= user.email() %>" required>
    </div>
    <div class="form-group">
      <label for="newPassword">New password</label>
      <input type="password" class="form-control" id="newPassword" name="newPassword">
    </div>
    <button type="submit" class="btn btn-warning">Change details</button>
  </form>
