<% title = "Forgotten password"; %>

<%- contentFor('body') %>

<div class="col-sm-6 col-sm-offset-3">

  <h1><span class="fa fa-sign-in"></span> Forgotten password</h1>

  <!-- show any messages that come back with authentication -->
  <% if (message.length > 0) { %>
  <div class="alert alert-info"><%= message %></div>
  <% } %>

  <form method="post" accept-charset="UTF-8" role="form">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <input type="hidden" name="referrer" value="<%= req.query.referrer %>">
    <button type="submit" class="btn btn-warning btn-lg">Send password</button>
  </form>

  <hr>

  <p>Need an account? <a href="/signup">Signup</a></p>
  <p>Or go <a href="/">home</a>.</p>

</div>