<% title = "Your gold holdings"; %>

<%- contentFor('body') %>

<div class="row container mb-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
          <h4 class="card-title"><span class="fa fa-briefcase"></span> Holding case</h4>
          Here is your wallet...
      </div>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
          <h4 class="card-title"><span class="fa fa-optin-monster"></span> Safe storage</h4>
          Here is the vault!
      </div>
    </div>
  </div>
</div>


<div class="row container justify-content-center">
  <div class="col-sm-12">
    <h2><span class="fa fa-list"></span> History</h2>
    <ul class="list-group">
      <li class="list-group-item"><i class="fa fa-cubes my-auto mr-2 text-center" style="width: 20px"></i> Bought some goodie </li>
      <li class="list-group-item"><i class="fa fa-heart my-auto mr-2 text-center" style="width: 20px; color: rgb(197, 44, 146)"></i> Donated to an author</li>
      <li class="list-group-item"><i class="fa fa-bookmark-o my-auto mr-2 text-center" style="width: 20px"></i> Spent some gold on a chapter</li>
      <li class="list-group-item"><i class="gold-amount mr-2 text-center" style="width: 20px"></i> Bought some gold</li>
    </ul>
  </div>
</div>
