<% title = "Your gold holdings"; %>

<%- contentFor('body') %>

<div class="row container">
  <div class="col-sm-6">
    <h1><span class="fa fa-briefcase"></span> Your holding case</h1>
  </div>
  
  <div class="col-sm-6">
      <h1><span class="fa fa-bank"></span> At the bank</h1>
  </div>
</div>


<div class="col-sm-6 col-sm-offset-3">
  <h1><span class="fa fa-list"></span> Your history</h1>
</div>