<% title = "Your gold holdings"; %>

<%- contentFor('body') %>

<div class="row container mb-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
          <h4 class="card-title"><span class="fa fa-briefcase"></span> Holding case</h4>
          Here is your wallet...
      </div>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
          <h4 class="card-title"><span class="fa fa-optin-monster"></span> Holding case</h4>
          Here is the vault!
      </div>
    </div>
  </div>
</div>


<div class="row container justify-content-center">
  <div class="col-sm-12">
    <h2><span class="fa fa-list"></span> History</h2>
    <ul class="list-group">
      <li class="list-group-item">Objet 1</li>
      <li class="list-group-item">Objet 2</li>
      <li class="list-group-item">Objet 3</li>
      <li class="list-group-item">Objet 4</li>
    </ul>
  </div>
</div>
