<% title = 'Contact us'; %>

<%- contentFor('body') %>

<!-- body -->
<div class="text-md-center">
  <h1><span class="fa fa-envelope"></span> Contact us</h1>
  <br/>
  <div class="card">
    <div class="card-body">
      <p class="lead">Do you have an issue with the site? Or some feedback?</p>
      <p class="lead">You can send all your hate mail to <code>darthvader@deathstar.com</code>, and the rest to <code>coyotte508@gmail.com</code>.</p>
    </div>
  </div>
</div>
