<% title = "404 error"; %>

<%- contentFor('body') %>

<div class="text-md-center"><h1>Page not found <span class="fa fa-sitemap"></span></h1></div>

<br/>
<div class="alert alert-danger">This page does not exist <% if (locals.err) { %>: <%= err.message%><% } %>.</div>