<% title = "Admin interface"; %>

<%- contentFor('body') %>

<div class="text-md-center">
  <h1><%= title %></h1>
  
  <br/>
  <div class="card">
    <div class="card-block bg-secondary">
      <p class="lead">Here is where the secret keys to the site are, all the gears of the website!</p>
      <p class="lead">Who knows, if you do something evil, you might even find the weakness and <code>destroy()</code> this website.</p>
    </div>
  </div>
</div>