<% 
  title = req.category.name + ' novels'; 
%>

<%- contentFor('body') %>

<!-- body -->

<div class="starter-template">
  <h1 class="category-title" style="margin-bottom: 10px"><%= req.category.name %></h1>
  <p class="lead"><%= req.category.description %></p>
</div>


<div class="text-md-center">
    <p class="f3 mt-0">Latest updates</p>
  
  <%- include("snippets/latest-updates") %>
</div>