<%
  title = 'Home';
%>

<%- contentFor('body') %>

<!-- body -->

<div class="starter-template">
  <h1>LitNovel <span class="fa fa-fire"></span></h1>
  <p class="lead">Home to some beautiful novels and a lit community.</p>
</div>

<% if (error) { %>
<div class="alert alert-danger" role="alert">
  <span class="fa fa-exclamation" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  <%- error %>
</div>
<% } %>

<div class="jumbotron text-md-center">
  <p class="f3">Latest updates</p>

  <%- include("snippets/latest-updates") %>
</div>
