<% title = 'Home'; %>

<%- contentFor('body') %>

<!-- body -->

<div class="starter-template">
  <h1>Novelia</h1>
  <p class="lead">Home to some beautiful novels and a lit community.</p>
</div>

<% if (error) { %>
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  <%- error %>
</div>
<% } %>

<div class="jumbotron text-center">
  <h1><span class="fa fa-lock"></span> Node Authentication</h1>

  <p>Login or Register with:</p>

  <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
  <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
  <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
</div>
