@import "../../../node_modules/font-awesome/scss/font-awesome.scss";
@import 'base.scss';
@import 'login.scss';

html,body {
  min-height:100%;
  height: 100%;
}


body {
  padding-top: 56px;
  background-size: cover;
  background: url('https://i.ytimg.com/vi/7avGPDl1wog/maxresdefault.jpg') fixed;
  background-color: rgba(0,0,0,0.88);
}

.pos-s { position: static; }
.pos-r { position: relative; }
.pos-a { position: absolute; }
.pos-f { position: fixed; }

.varying-container {
  @include make-container();

  &.navbar.fixed-top {
    position: fixed;
  }
  
  /* Fluid */
  @include media-breakpoint-only(md) {
    margin-left: 40px;
    margin-right: 40px;

    .navbar & {
      margin-left: 24px;
      margin-right: 24px;
    }
  }
  @include media-breakpoint-down(sm) {
    margin-left: 20px;
    margin-right: 20px;

    .navbar & {
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  @include media-breakpoint-up(lg) {
    @include make-container-max-widths();
  }
  @media (min-width: 1600px) {
    width: 72%;
  }
}

.main-container {
  background: #fff;
  min-height: 100%;

  @extend .varying-container;
}

.navbar-md-right {
  @extend .float-md-right;

  /* remove margin to the right */
  @include media-breakpoint-up(md) {
    margin-right: -($grid-gutter-width-base/2);
    .nav-item:last-child {
      padding-right: $grid-gutter-width-base/2;
    }
  }
}

.navbar .nav-item .dropdown-menu {
  margin-top: 0.5rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* For author link below chapter title */
.text-muted a {
  color: $text-muted;
}

.well {
  background-color: #eee;
  border-color: #eee;
}

table {
  @extend .table;
  @extend .table-bordered;
  margin-left: auto;
  margin-right: auto;
  /*width: inherit;*/
  max-width: 95%;
}

blockquote {
  @extend .blockquote;
}

section {
  margin-bottom: 15px; 
}

section:last-child {
  margin-bottom: 0px;
}

.synopsis, .chapter-content, .author-note {
  @extend .text-justify;

  img {
    max-height: 300px;
    max-width: 600px;
  }
}

.list-group-item > * {
  margin-right: 5px;
}

.list-group-item > *:last-child {
  margin-right: 0px;
}

.list-group-item .list-group-item-action {
  width: initial;
}