.synopsis, .chapter-content, .author-note {
  @extend .text-justify;

  img {
    max-height: 300px;
    max-width: 600px;
  }
}

h3.chapter-title {
  @extend .text-center;

  margin-bottom: 15px;
}

.chapter-navigation-bottom {
  margin-top: 5px;
}
