.vcard {
  .username {

  }

  .avatar {
    width: 230px;
    height: 230px;
    margin-bottom: 10px;
  }

  .bio {
    @extend .text-muted;
  }
}

.user.sidebar {
  margin-left: 24px;
  margin-right: 24px;

  @include media-breakpoint-up(lg) {
    width: 230px !important;
  }
  @include media-breakpoint-down(md) {
    width: 100% !important;
  }
}

.user.main {
  margin-right: 24px;

  @include media-breakpoint-up(lg) {
    flex-grow: 1;
  }
  @include media-breakpoint-down(md) {
    margin-left: 24px;
    width: 100% !important;
  }
}
